* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#btn-back-to-top {
    background-color: #E19C37;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 2;
}

.navbar .nav-item a {
    font-size: 18px;
    font-weight: 300;
    color: #272727 !important;
    transition: all 0.2s;
}

.navbar .nav-item a:hover {
    color: #E19C37 !important;
}

.navbar .nav-item a.active {
    font-weight: 600;
}

.search {
    width: 50%;
    /* height: 64px; */
    align-items: center;
    background-color: #001232 !important;
    border-radius: 10px;
    padding: 5px 20px;
}

.search i {
    font-size: 24px;
    padding: 0 10px;
}

.search button {
    background-color: transparent;
    border: 0;
}

.search input::placeholder {
    color: #FFF;
}

.search input {
    color: #FFF;
    border: 0 !important;
    background: transparent !important;
    font-weight: 600;
    font-size: 22px;
}

.search .form-control:focus,.search .form-control:active {
    color: #FFF;
    border: 0 !important;
    outline: none;
    box-shadow: none;
}

.home-section {
    background-image: url(../images/bg-1.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.home-section .container-fluid.main {
    background-color: rgba(0, 18, 50, 0.42);
    width: 100%;
    height: 100%;
}

.home-section h1 {
    font-size: 40px;
    font-weight: 700;
}

.home-section p {
    font-size: 30px;
    font-weight: 600;
}

.home-section .search-2 {
    width: 90%;
    align-items: center;
    background-color: #FFF !important;
    border-radius: 10px;
    padding: 5px 20px;
}

.home-section .search-2 input {
    color: #000;
    border: 0 !important;
    background: transparent !important;
    font-weight: 600;
    font-size: 22px;
}

.home-section .search-2 .form-control:focus,.search-2 .form-control:active {
    color: #000;
    border: 0 !important;
    outline: none;
    box-shadow: none;
}

.rectangle-section .container-fluid.sec {
    background-color: #001232;
    position: relative;
}

.rectangle-section .rectangle i {
    font-size: 70px;
}

.rectangle-section .rectangle p {
    font-size: 20px;
    font-weight: 500;
}

.subtitle-section img {
    border-radius: 15px;
}

.subtitle-section h3 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.subtitle-section p {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.features-section .head h4 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
}
.features-section .body .icon {
    height: 150px;
}
.features-section .body .icon img {
    height: 100% !important;
}

.features-section .body h5 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.features-section .body p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.accreditations-section h4 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.accreditations-section p {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.accreditations-section p.special {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    white-space: pre-wrap;
}

.customers-section .head h4 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.customers-section .body .opinion {
    width: 100%;
    height: 100%;
    background-color: #001232;
}

.customers-section .body .opinion h6 {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #E19C37;
}

.customers-section .body .opinion p {
    font-size: 18px;
    font-weight: 400;
}

.footer-section {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    background-color: #001232;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: 500;
}

.footer-section h4.special {
    font-size: 20px;
    font-weight: 400;
}

.footer-section strong {
    font-size: 20px;
    font-weight: 700;
}

.footer-section li {
    list-style: none;
}

.footer-section a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s;
}

.footer-section a:hover {
    padding-left: 20px;
    color: #E19C37;
}

.footer-section a.special {
    font-size: 15px;
    font-weight: 500;
}

.footer-section .rectangle {
    height: 50px;
}

@media all and (max-width:1399px) {
    .home-section .search-2 {
        width: 87%;
    }

    .search {
        width: 45%;
    }

    .search input {
        font-size: 14px;
    }
    
    .search i {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 75% !important;
    }

    .navbar .nav-item a {
        font-size: 13px;
    }

    .home-section {
        height: 85vh;
    }

    .home-section h1 {
        font-size: 25px;
    }
    
    .home-section p {
        font-size: 22px;
    }

    .home-section .search-2 input {
        font-size: 16px;
    }

    .rectangle-section .rectangle p {
        font-size: 13px;
    }

    .rectangle-section .rectangle i {
        font-size: 35px;
    }

    .subtitle-section h3 {
        font-size: 20px;
    }

    .subtitle-section p {
        font-size: 14px;
    }

    .features-section .head h4 {
        font-size: 20px;
    }

    .features-section .body h5 {
        font-size: 18px;
    }

    .features-section .body p {
        font-size: 14px;
    }


    .accreditations-section h4 {
        font-size: 22px;
    }

    .accreditations-section p {
        font-size: 16px;
    }

    .accreditations-section p.special {
        font-size: 14px;
    }

    .customers-section .head h4 {
        font-size: 20px;
    }

    .customers-section .body .opinion h6 {
        font-size: 18px;
    }

    .customers-section .body .opinion p {
        font-size: 14px;
    }

    .footer-section h4.special {
        font-size: 16px;
    }

    .footer-section strong {
        font-size: 17px;
    }

    .footer-section a.special {
        font-size: 14px;
    }

    .footer-section h4 {
        font-size: 16px;
    }

    .footer-section a {
        font-size: 14px;
    }

    .footer-section a:hover {
        padding-left: 10px;
    }
}

@media all and (max-width:991px) {
    .home-section .search-2 {
        width: 87%;
    }

    .search {
        width: 70%;
    }

    .search input {
        font-size: 14px;
    }
    
    .search i {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 75% !important;
    }

    .navbar .nav-item a {
        font-size: 16px;
    }

    .home-section {
        height: 85vh;
    }

    .home-section h1 {
        font-size: 25px;
    }
    
    .home-section p {
        font-size: 22px;
    }

    .home-section .search-2 input {
        font-size: 16px;
    }

    .rectangle-section .rectangle p {
        font-size: 13px;
    }

    .rectangle-section .rectangle i {
        font-size: 35px;
    }

    .subtitle-section h3 {
        font-size: 20px;
    }

    .subtitle-section p {
        font-size: 14px;
    }

    .features-section .head h4 {
        font-size: 20px;
    }

    .features-section .body h5 {
        font-size: 18px;
    }

    .features-section .body p {
        font-size: 14px;
    }

    .features-section .body .icon img {
        width: 30% !important;
    }

    .accreditations-section h4 {
        font-size: 22px;
    }

    .accreditations-section p {
        font-size: 16px;
    }

    .accreditations-section p.special {
        font-size: 14px;
    }

    .customers-section .head h4 {
        font-size: 20px;
    }

    .customers-section .body .opinion h6 {
        font-size: 18px;
    }

    .customers-section .body .opinion p {
        font-size: 14px;
    }

    .footer-section h4.special {
        font-size: 16px;
    }

    .footer-section strong {
        font-size: 17px;
    }

    .footer-section a.special {
        font-size: 14px;
    }

    .footer-section h4 {
        font-size: 16px;
    }

    .footer-section a {
        font-size: 14px;
    }

    .footer-section a:hover {
        padding-left: 10px;
    }
}
